*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-blue: #181f32;
    --gray: #647299;
    --red: #d13f30;
    --dark-gray:#3b4664;
    --voilet: #252d44;
    --white: #fff;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--dark-gray);
}
.calculator{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.display-screen{
    height: 20%;
    width: 100%;
}
.user-input{
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 12px;
    border-radius: 16px;
    border: none;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 3rem;
}
.keypad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    gap: 1rem;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    height: 20%;
    gap: 1rem;
}
.key{
    background-color: var(--white);
    width: 21%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.delete-key{
    background-color: var(--gray);
    width: 21%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.answer-key,
.reset-key{
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.answer-key{
    background-color: var(--red);
}
.reset-key{
    background-color: var(--gray);
}
.key:hover, .delete-key:hover, .answer-key:hover, .reset-key:hover{
    cursor: pointer;
}